# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
env/
venv/
ENV/
.venv/

# Django
*.sqlite3
*.log
*.pot
media/
staticfiles/
db.sqlite3

# System/IDE
.DS_Store
*.sublime-project
*.sublime-workspace
.idea/
.vscode/

# Env variables
.env
